<div class="calculator">
    <div class="calculator__form-tab">
        <form class="calculator-form">
            <div class="calculator-form__field">
                <label class="calculator-form__label">Vehicle type</label>

                <div class="calculator-form__control calculator-form__radio-group input-group">
                    <input type="radio" id="calculator-vehicle-type-0"
                           ng-model="calculator.formData.vehicleType"
                           ng-change="calculator.updateSummary()" ng-value="0" disabled />
                    <label for="calculator-vehicle-type-0">
                        <i class="vehicle-icon vehicle-icon-bus">Bus</i>
                    </label>

                    <input type="radio" id="calculator-vehicle-type-1"
                           ng-model="calculator.formData.vehicleType"
                           ng-change="calculator.updateSummary()" ng-value="1" />
                    <label for="calculator-vehicle-type-1">
                        <i class="vehicle-icon vehicle-icon-truck">Truck</i>
                    </label>
                </div>

                <div class="calculator-form__field">
                    <label class="calculator-form__label">Truck weight</label>

                    <div class="calculator-form__control calculator-form__radio-group input-group">
                        <input type="radio" id="calculator-truck-weight-0"
                               ng-model="calculator.formData.truckWeight"
                               ng-change="calculator.updateSummary()" ng-value="3.5" />
                        <label for="calculator-truck-weight-0">3.5</label>

                        <input type="radio" id="calculator-truck-weight-1"
                               ng-model="calculator.formData.truckWeight"
                               ng-change="calculator.updateSummary()" ng-value="5.5" />
                        <label for="calculator-truck-weight-1">5.5</label>

                        <input type="radio" id="calculator-truck-weight-2"
                               ng-model="calculator.formData.truckWeight"
                               ng-change="calculator.updateSummary()" ng-value="9.5" />
                        <label for="calculator-truck-weight-2">9.5</label>

                        <input type="radio" id="calculator-truck-weight-3"
                               ng-model="calculator.formData.truckWeight"
                               ng-change="calculator.updateSummary()" ng-value="26.0" />
                        <label for="calculator-truck-weight-3">26.0</label>
                    </div>
                </div>
            </div>

            <div class="calculator-form__field">
                <label class="calculator-form__label" for="calculator-country">Country</label>

                <select id="calculator-country" class="calculator-form__control"
                        ng-model="calculator.formData.country"
                        ng-change="calculator.updateSummary()"
                        ng-options="country.name for country in calculator.countries"></select>

                <div class="calculator-form__field">
                    <label class="calculator-form__label" for="calculator-diesel-price">Diesel price</label>

                    <input type="text" id="calculator-diesel-price" class="calculator-form__control" disabled
                           ng-model="calculator.formData.dieselPrice"
                           ng-change="calculator.updateSummary()"
                           data-input-number data-input-suffix="$/l" />
                </div>

                <div class="calculator-form__field">
                    <label class="calculator-form__label" for="calculator-electricity-price">Electricity price</label>

                    <input type="text" id="calculator-electricity-price" class="calculator-form__control" disabled
                           ng-model="calculator.formData.electricityPrice"
                           ng-change="calculator.updateSummary()"
                           data-input-number data-input-suffix="Cents/kWh" />
                </div>

                <div class="calculator-form__field">
                    <label class="calculator-form__label" for="calculator-one-time-subsidy">One time subsidy</label>

                    <input type="text" id="calculator-one-time-subsidy" class="calculator-form__control" disabled
                           ng-model="calculator.formData.oneTimeSubsidy"
                           ng-change="calculator.updateSummary()"
                           data-input-number data-input-prefix="$" />
                </div>

                <div class="calculator-form__field">
                    <label class="calculator-form__label" for="calculator-annual-subsidy">Annual subsidy</label>

                    <input type="text" id="calculator-annual-subsidy" class="calculator-form__control" disabled
                           ng-model="calculator.formData.annualSubsidy"
                           ng-change="calculator.updateSummary()"
                           data-input-number data-input-prefix="$" />
                </div>
            </div>

            <div class="calculator-form__field">
                <label class="calculator-form__label" for="calculator-zero-emission">Zero emission</label>

                <input type="checkbox"
                       id="calculator-zero-emission"
                       ng-model="calculator.formData.zeroEmission"
                       ng-change="calculator.updateSummary()" />
            </div>

            <div class="calculator-form__field">
                <label class="calculator-form__label" for="calculator-daily-range">Daily range</label>

                <input type="text" id="calculator-daily-range" class="calculator-form__control"
                       ng-model="calculator.formData.dailyRange"
                       ng-change="calculator.updateSummary()"
                       data-input-number data-input-suffix="km" />

                <div class="calculator-form__field">
                    <label class="calculator-form__label" for="calculator-urban-time">Urban time</label>

                    <input type="text" id="calculator-urban-time" class="calculator-form__control"
                           ng-model="calculator.formData.urbanTime"
                           ng-change="calculator.updateSummary()"
                           data-input-percent data-input-suffix="%" />
                </div>

                <div class="calculator-form__field">
                    <label class="calculator-form__label" for="calculator-working-days-per-year">Working days per year</label>

                    <input type="text" id="calculator-working-days-per-year" class="calculator-form__control" disabled
                           ng-model="calculator.formData.workingDaysPerYear"
                           ng-change="calculator.updateSummary()" />
                </div>

                <div class="calculator-form__field">
                    <label class="calculator-form__label">Recharging ability</label>

                    <div class="calculator-form__control calculator-form__radio-group input-group">
                        <input type="radio" id="calculator-recharging-ability-0"
                               ng-model="calculator.formData.rechargingAbility"
                               ng-change="calculator.updateSummary()" ng-value="0" />
                        <label for="calculator-recharging-ability-0">No</label>

                        <input type="radio" id="calculator-recharging-ability-1"
                               ng-model="calculator.formData.rechargingAbility"
                               ng-change="calculator.updateSummary()" ng-value="1" />
                        <label for="calculator-recharging-ability-1">Night only</label>

                        <input type="radio" id="calculator-recharging-ability-2"
                               ng-model="calculator.formData.rechargingAbility"
                               ng-change="calculator.updateSummary()" ng-value="2" checked />
                        <label for="calculator-recharging-ability-2">Intraday</label>
                    </div>

                    <div class="calculator-form__field">
                        <label class="calculator-form__label" for="calculator-recharging-frequency">every</label>

                        <input type="text" id="calculator-recharging-frequency" class="calculator-form__control"
                               ng-disabled="calculator.formData.rechargingAbility === 0"
                               ng-model="calculator.formData.rechargingFrequency"
                               ng-change="calculator.updateSummary()"
                               data-input-number data-input-suffix="km" />
                    </div>
                </div>
            </div>

            <div class="calculator-form__field">
                <label class="calculator-form__label">Purchase option</label>

                <div class="calculator-form__control calculator-form__radio-group input-group">
                    <input type="radio" id="calculator-purchase-option-0"
                           ng-model="calculator.formData.purchaseOption"
                           ng-change="calculator.updateSummary()" ng-value="0" />
                    <label for="calculator-purchase-option-0">One time payment</label>

                    <input type="radio" id="calculator-purchase-option-1"
                           ng-model="calculator.formData.purchaseOption"
                           ng-change="calculator.updateSummary()" ng-value="1" />
                    <label for="calculator-purchase-option-1">Leasing</label>
                </div>

                <div class="calculator-form__field">
                    <label class="calculator-form__label" for="calculator-term">Term</label>

                    <input type="text" id="calculator-term" class="calculator-form__control"
                           ng-disabled="calculator.formData.purchaseOption !== 1"
                           ng-model="calculator.formData.term"
                           ng-change="calculator.updateSummary()"
                           data-input-number data-input-suffix="years" />
                </div>

                <div class="calculator-form__field">
                    <label class="calculator-form__label" for="calculator-interest-rate">Interest rate</label>

                    <input type="text" id="calculator-interest-rate" class="calculator-form__control"
                           ng-disabled="calculator.formData.purchaseOption !== 1"
                           ng-model="calculator.formData.interestRate"
                           ng-change="calculator.updateSummary()"
                           data-input-percent data-input-suffix="%" />
                </div>

                <div class="calculator-form__field">
                    <label class="calculator-form__label" for="calculator-upfront-payment">Upfront payment</label>

                    <input type="text" id="calculator-upfront-payment" class="calculator-form__control"
                           ng-disabled="calculator.formData.purchaseOption !== 1"
                           ng-model="calculator.formData.upfrontPayment"
                           ng-change="calculator.updateSummary()"
                           data-input-percent data-input-suffix="%" />
                </div>
            </div>
        </form>
    </div>

    <div class="calculator__summary-tab calculator-summary">
        <table class="calculator-summary__info">
            <tr class="calculator-summary__title">
                <th>Charge truck</th>
                <td class="charge-truck__name">
                    <span>{{calculator.chargeTruck.name}}
                        <a class="calculator-summary__title-button" href="#change-charge-truck">Change</a></span>
                </td>
                <td class="calculator-summary__info-vs">VS</td>
                <th>I.C.E analogue</th>
                <td>
                    <span>{{calculator.analogueTruck.name}}
                        <a class="calculator-summary__title-button" href="#change-analogue-truck">Change</a></span>
                </td>
            </tr>

            <tr class="">
                <th>Payback period</th>
                <td class="calculator-summary__info-payback-period" ng-bind-template="{{calculator.summary.paybackPeriod | floatingNumber : 2}} years"></td>
                <td></td>
                <th>Total saving</th>
                <td class="calculator-summary__info-total-saving" ng-bind-template="$ {{calculator.summary.totalSaving | floatingNumber: 2}}"></td>
            </tr>
        </table>

        <div class="calculator-summary__annual-costs-chart">
            <canvas class="chart chart-annual-costs" width="544" height="210"
                    data-chart-data="calculator.charts.annualCosts.data"
                    data-chart-labels="calculator.charts.annualCosts.labels"
                    data-chart-series="calculator.charts.annualCosts.series"
                    data-chart-colours="calculator.charts.annualCosts.colours"
                    data-chart-options="calculator.charts.annualCosts.options"
                    data-chart-legend="true"></canvas>
        </div>

        <div class="calculator-summary__savings-chart">
            <canvas class="chart chart-savings" width="544" height="210"
                    data-chart-data="calculator.charts.savings.data"
                    data-chart-labels="calculator.charts.savings.labels"
                    data-chart-series="calculator.charts.savings.series"
                    data-chart-colours="calculator.charts.savings.colours"></canvas>
        </div>
    </div>
</div>